h1 {
  margin-bottom: 100px;
  text-align: center;
}

.squares {
  display: flex;
  justify-content: space-evenly;
}

.square-1 {
  width: 100px;
  height: 100px;
  background-color: green;
  animation: scale 3s linear 1s infinite normal;
}

.square-2 {
  width: 100px;
  height: 100px;
  background-color: red;
  animation: scale 3s linear 2s infinite normal;
}

.square-3 {
  width: 100px;
  height: 100px;
  background-color: blue;
  animation: scale 3s linear 3s infinite normal;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(2);
  }
}
